[submodule "android-app"]
	path = android-app
	url = https://gitos.cs.tu-dortmund.de/systemtap4android/android-app.git
[submodule "src"]
	path = src
	url = https://gitos.cs.tu-dortmund.de/systemtap4android/systemtap-src.git
