[submodule "android-app"]
	path = android-app
	url = https://github.com:flipreverse/systemtap-android-app.git
[submodule "src"]
	path = src
	url = https://github.com/flipreverse/systemtap-android-src.git
