[submodule "android-app"]
	path = android-app
	url = https://ess.cs.uos.de/git/software/systemtap4android/android-app.git
[submodule "src"]
	path = src
	url = https://ess.cs.uos.de/git/software/systemtap4android/systemtap-src
