# Ignore any unpacked elfutils directory ...
elfutils-*
# ... except the tarball
!eltutils-*.tar.bz2
installed
# Ignore any systemtap script as well ...
*.stp
# ... as every module
*.ko
# ... and config
*.conf
# Object and protobuf files are waste..
*.o
*.pb.*
